<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{{ _("Imprimante virtuelle")}}</title>
</head>
<body style="display: flex;flex-direction: column;min-height: 100vh;">
    
<div id="page" style="flex-grow: 1;">
{% include 'lang_select.html.j2'%}

    <h1>{{ _("État de l'imprimante:")}}</h1>
    <ul>
        <li>{{ _("En ligne")}}</li>
        <li>{{ _("Adresse de cette imprimante:")}} {{host}}</li>
        <li>{{ _("Ports d'impression:")}} {{jetDirectPort}} (Jetdirect), 515 (lpd)</li>
        {%if debug == 'True'%}
            <li><b style="color:#8B0000">{{ _("Mode débogage activé")}}</b></li>
        {%endif%}
    </ul>
    
    <a href="/recus">{{ _("Consulter la liste des reçus imprimés")}}</a>
</div>

{% include 'footer.html.j2' %}
</body>
</html>