<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Imprimante virtuelle</title>
</head>
<body>
<h1>État de l'imprimante:</h1>
<ul>
    <li>En ligne</li>
    <li>Adresse de cette imprimante: {{host}}</li>
    <li>Ports d'impression: {{jetDirectPort}} (Jetdirect), 515 (lpd)</li>
    {%if debug == 'True'%}
        <li><b style="color:#8B0000">Mode débogage activé</b></li>
    {%endif%}
</ul>
 
 <a href="/recus">Consulter la liste des reçus imprimés</a>

{% include 'footer.html' %}
</body>
</html>